.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 60vh;
}

footer {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #a9a9a9;
  margin-top: 60px;
  margin-bottom: 60px;
}
