.quotes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 800px;
}

.quotes-container h1 {
  margin-bottom: 60px;
}

.quote-container {
  display: flex;
  margin-bottom: 60px;
  margin-left: 60px;
  width: 800px;
  font-size: 34px;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .quotes-container {
    min-width: 280px;
  }

  .quote-container {
    width: 300px;
    margin-bottom: 30px;
    margin-left: 0px;
    font-size: 24px;
  }
}
