.center-container {
  display: flex;
  align-items: center;
  width: 800px;
}

.yellow-rectangle {
  min-width: 8px;
  min-height: 300px;
  background: #f7df94;
  margin-right: 60px;
}

.random-quote {
  font-weight: 500;
  font-size: 34px;
  line-height: 120%;
}

.author {
  padding: 20px 0px 20px 50px;
  margin-top: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 800px;
}

.author > i {
  color: white;
  margin-right: 50px;
  font-size: 50px;
}

.author:hover {
  background: #333333;
  color: white;
}

@media only screen and (max-width: 600px) {
  .center-container {
    max-width: 320px;
  }
  
  .author {
    min-width: 280px;
  }

  .author > i {
    font-size: 30px;
  }

  .yellow-rectangle {
    margin-right: 40px;
  }

  .random-quote {
    font-size: 24px;
  }
}
