@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  margin: 0;
  font-family: Raleway;
  max-height: 100vh;
  max-width: 100vw;
}

a {
  text-decoration: none;
  color: inherit;
}
